* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-size: 48px;
  color: #e9f45b;
}

h2 {
  font-size: 40px;
}

p {
  margin-bottom: 24px;
}

a {
  color: #c917c0
}
