* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  font-size: 48px;
  color: #e9f45b;
}

h2 {
  font-size: 40px;
}

p {
  margin-bottom: 24px;
}

a {
  color: #c917c0
}

a:hover {
  color: #ffb703
}

header {
  background-color: #1212B2;
  padding: 24px;
  text-align: center;
}

main {
  /* `main` element does not need any styles */
}

.hero {
  height: 320px;
  background-image: url("./images/cover-bg.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 48px;
  color: white;
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.content {
  padding: 24px;
}

.content > * {
  margin-bottom: 16px;
}

.content img {
  width: 100%;
}

footer {
  background-color: #1212B2;
  padding: 32px;
}

/*
This is the "descendant combinator".
*/
footer p {
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
  text-align: right;
}

/*
We could also be more specific and use the "child combinator":
footer > div > p {
  ...
}

Read more here: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors#combinators
*/
